body{
    background-color:cornsilk;
    margin: 0%;
    padding: 0%;
    }
    

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    height:20px;
    background-color: burlywood;
    margin: 0px;
    

}
.header li{
    list-style: none;
    padding:0px 20px 0px 20px;
   

}

ul{
    list-style: none;
}
aside{
    margin:0px;
    padding:0px;
    background-color:aqua;
    border-radius:20px;
}
.firstContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:50px;
    background-color: antiquewhite;
    border-radius: 30px;

}
.firstContainer section{
    margin: 20px;
    border-radius: 40px;
    background-image: image();
}
main {
    margin: 70px;
    padding: 50px;
    background-color: aquamarine;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section2{
    margin: 50px;
    background-color: beige;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    
}
.table{
    border:1px;
    border-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.table tr{
    border-radius:20px;
    border-color:black;
}

footer{
    display:flex;
    align-items: stretch;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 50px;
    padding-bottom: 0%;
    height: fit-content;
}
.copy{
 margin: 0px 20px 0px 20px; 
}
@media only screen and (max-width: 600px)